doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Creative - Bootstrap 3 Responsive Admin Template')
        meta(name='author', content='GeeksLabs')
        meta(name='keyword', content='Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal')
        link(rel='shortcut icon', href='/public/imgs/favicon.png')
        title 404 | Creative - Bootstrap 3 Responsive Admin Template
        // Bootstrap CSS
        link(href='/public/css/bootstrap.min.css', rel='stylesheet')
        // bootstrap theme
        link(href='/public/css/bootstrap-theme.css', rel='stylesheet')
        // external css
        // font icon
        link(href='/public/css/elegant-icons-style.css', rel='stylesheet')
        link(href='/public/css/font-awesome-4.7.0/css/font-awesome.css', rel='stylesheet')
        // Custom styles
        link(href='/public/css/style.css', rel='stylesheet')
        link(href='/public/css/style-responsive.css', rel='stylesheet')
        // HTML5 shim and Respond.js IE8 support of HTML5
        //if lt IE 9
          script(src='js/html5shiv.js')
          script(src='js/respond.min.js')
    body
        .page-404
            p.text-404 404
            h2 出错了！
            p
                | 您所访问的页面不存在
                br
                a(href='\/') 返回首页
