extends ./template/layout.pug

block content
    section#main-content
        section.wrapper
            .row
                .col-lg-12
                    h3.page-header
                        i.fa.fa-file-text-o
                        |  发起链上查询
                    ol.breadcrumb
                        li
                            i.fa.fa-home
                            a(href='index.html') Home
                        li
                            i.icon_document_alt
                            | 链上操作
                        li
                            i.fa.fa-file-text-o
                            | 发起查询
            .row
                .col-lg-12
                    section.panel
                        header.panel-heading
                            | 查询客户要素
                        .panel-body
                            form.form-horizontal#submitrequestform(method="POST")
                                .form-group
                                    label.col-sm-2.control-label 身份证号码:
                                    .col-sm-6
                                        input#focusedInput(name='cus_id_num' type='text').form-control
                                .form-group
                                    label.col-sm-2.control-label 查询类型:
                                    .col-sm-2
                                        select(name='req_type').form-control.input-sm.m-bot15.linkedin-bg
                                            option(value='0') 负债信息
                                            option(value='1') 资产信息
                                            option(value='2') 全部
                                .form-group
                                    label.col-sm-2.control-label 查询期限:
                                    .col-sm-2
                                        select(name='time_line').form-control.input-sm.m-bot15.linkedin-bg
                                            option(value='1') 一个月
                                            option(value='3') 三个月
                                            option(value='6') 半年
                                            option(value='12') 一年
                                            option(value='0') 全部
                                .form-group

                                        label.col-sm-2.control-label 查询机构:
                                        //.col-sm-2
                                            select(name='req_orgs').form-control.input-sm.m-bot15.linkedin-bg
                                                option(value='0') 全部
                                        .col-sm-10
                                            button.btn.btn-primary.btn-sm.linkedin-bg(type='button', data-toggle='modal', data-target='#selectOrgsModal')
                                                | 选择机构...
                                            p
                                            input(name='req_orgs' type='text' readonly="readonly").orgvalues.form-control
                                        // Modal
                                #selectOrgsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='orgsModalLabel')
                                    .modal-dialog(role='document' )
                                        .modal-content
                                            .modal-header
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                    span(aria-hidden='true') ×
                                                h4#orgsModalLabel.modal-title 选择想要查询的机构
                                            .modal-body
                                                     .checkboxes
                                                         .form-group
                                                            label.col-sm-12.label_check(for='checkboxall')
                                                                input#checkboxall.orgscheckbox(name='sample-checkbox-01', type='checkbox')
                                                                |  全部
                                                         .form-group
                                                            label.col-sm-6.label_check(for='checkbox-02')
                                                                input#checkbox-02.orgscheckbox.orgscheckreturn(name='sample-checkbox-02', value='ORGID001', type='checkbox')
                                                                |  渤海银行
                                                            label.col-sm-6.label_check(for='checkbox-03')
                                                                input#checkbox-03.orgscheckbox.orgscheckreturn(name='sample-checkbox-03', value='ORGID002', type='checkbox')
                                                                |  AA银行
                                                            label.col-sm-6.label_check(for='checkbox-05')
                                                                input#checkbox-05.orgscheckbox.orgscheckreturn(name='sample-checkbox-04', value='ORGID003', type='checkbox')
                                                                |  BB银行
                                                            label.col-sm-6.label_check(for='checkbox-06')
                                                                input#checkbox-06.orgscheckbox.orgscheckreturn(name='sample-checkbox-04', value='ORGID004', type='checkbox')
                                                                |  CC银行
                                                            label.col-sm-6.label_check(for='checkbox-07')
                                                                input#checkbox-07.orgscheckbox.orgscheckreturn(name='sample-checkbox-04', value='ORGID005', type='checkbox')
                                                                |  DD银行
                                                            label.col-sm-6.label_check(for='checkbox-08')
                                                                input#checkbox-08.orgscheckbox.orgscheckreturn(name='sample-checkbox-04', value='ORGID006', type='checkbox')
                                                                |  EE银行

                                            .modal-footer
                                                .text-align-center
                                                    button#checkboxsave.btn.btn-primary(type='button') 保存
                                                    button.btn.btn-default(type='button', data-dismiss='modal') 关闭

                                button#submitrequestbotton.btn-loading.col-sm-2.col-sm-offset-5.btn.btn-info.text-align-center.green-bg(type="button") 发布





    script.
            $(document).ready(function () {
                $("#checkboxall").click(function () {
                    if ($("#checkboxall").attr("checked") === undefined) {
                        $("input.orgscheckbox").attr("checked", "");
                    } else {
                        console.log("come to removeAttr");
                        $("input.orgscheckbox").removeAttr("checked");
                    }
                });

                $('#checkboxsave').click(function () {
                   $('input.orgvalues').val($('input[type=checkbox].orgscheckreturn:checked').map(function () {
                         return this.value
                        }).get().join(","));

                    $('#selectOrgsModal').modal('toggle');
                });

                $('#submitrequestbotton').click(function () {
                    if ($('#focusedInput').val()==''){
                        layer.close(loadIndex);
                        layer.alert("请输入身份证号！", {
                            title: '错误信息',
                            closeBtn: 0,
                            anim: 6
                        });
                    }else {
                        $.ajax({
                            type: "POST",
                            url: "/chain/publishrequest",
                            async: true,
                            data: $('#submitrequestform').serialize(),
                            dataType: "text",
                            success: function (data) {
                                layer.close(loadIndex);
                                var obj=JSON.parse(data);
                                layer.alert("发布成功!<br>交易号："+obj.tx_id, {
                                    title: '返回信息',
                                    closeBtn: 0,
                                    anim: 2
                                });
                            },
                            error: function () {
                                layer.close(loadIndex);
                                layer.alert("发布失败！", {
                                    title: '错误信息 ' + err,
                                    closeBtn: 0,
                                    anim: 6
                                });
                            }
                        });
                    }
                })
            });