extends ./template/layout.pug

block content
    // --------------- Main Stuff  -------------- //
    #contentPanel

        h1 Error: #{error.status}
        center
            h2 #{error.msg}

        hr